@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
    font-family: 'Lora';
    width:600;
    text-align: center;
}

p {
    color:blue;
    font-family: 'Lora'
}

.post:hover {
    color:antiquewhite;
}